:root {
  --light: #fcfcfc;
  --dark: #252525;
  --lightdark: #404040;
  --primary: #564787;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--light);
  color: var(--dark);
  overflow-x: hidden;
}

.background {
  position: relative;
  background: #f1680a;
  background: radial-gradient(
    circle at 50% 125%,
    rgba(241, 104, 10, 1) 22%,
    rgba(233, 141, 172, 1) 37%,
    rgba(140, 166, 233, 1) 62%,
    rgba(252, 252, 252, 1) 100%
  );
  background-size: cover;
}
