.cd-breadcrumb, .cd-multi-steps {
  max-width: none;
  padding: 0.5em 1em;
  margin: 1em auto;  
}

.cd-breadcrumb div {
  overflow: hidden;
  border-radius: 23px;
}

.cd-breadcrumb li, .cd-multi-steps li {
  display: inline-block;
  margin: 0.5em 0;
}

.cd-breadcrumb li > *, .cd-multi-steps li > * {
  /* single step */  
  display: inline-block;
  color: #2c3f4c;
}

@media only screen and (min-width: 768px) {
  .cd-breadcrumb, .cd-multi-steps {
    padding: 0 1.2em;
  }
  .cd-breadcrumb li, .cd-multi-steps li {
    margin: 1.2em 0;
  }
  .cd-breadcrumb li::after, .cd-multi-steps li::after {
    margin: 0 1em;
  }
  .cd-breadcrumb li > *, .cd-multi-steps li > * {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .cd-breadcrumb.triangle {
    padding: 0;
  }
  .cd-breadcrumb.triangle li {
    position: relative;
    margin: 1px 4px 1px 0;
  }
  .cd-breadcrumb.triangle li > * {
    position: relative;
    padding: 1em .8em 1em 2.5em;
    background-color: #edeff0;
    /* the border color is used to style its ::after pseudo-element */
    border-color: #edeff0;
  }
  .cd-breadcrumb.triangle li.current > * {
    /* selected step */
    color: #ffffff;
    background-color: rgba(186, 2, 128, 1);
    border-color: rgba(186, 2, 128, 1);
  }
  .cd-breadcrumb.triangle li:first-of-type > * {
    padding-left: 1.6em;
  }
  .cd-breadcrumb.triangle li:last-of-type > * {
    padding-right: 1.6em;
    border-radius: 9px;
  }
  .cd-breadcrumb.triangle li::after, .cd-breadcrumb.triangle li > *::after {
    /* 
    	li > *::after is the colored triangle after each item
    	li::after is the white separator between two items
    */
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    height: 0;
    width: 0;
    /* 48px is the height of the <a> element */
    border: 26px solid transparent;
    border-left-width: 20px;
  }
  .cd-breadcrumb.triangle li::after {
    /* this is the white separator between two items */
    z-index: 1;
    transform: translateX(4px);
    border-left-color: #d5def7;
    margin: 0;
  }
  .cd-breadcrumb.triangle li > *::after {
    /* this is the colored triangle after each element */
    z-index: 2;
    border-left-color: inherit;
  }
  .cd-breadcrumb.triangle li:last-of-type::after, .cd-breadcrumb.triangle li:last-of-type > *::after {
    /* hide the triangle after the last step */
    display: none;
  }
}